body {
    font-family: "Noto Sans JP", sans-serif;
    color: #5f5b5b;
    background-color: #eae5da;
}

.container.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
}

.logo {
  font-family: "Noto Serif KR", serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  color: #5f5b5b;
}

.logo span {
    color: #9aa897;
}

.header_menu li {
    margin-left: 40px;
    position: static;
}
.header_menu li a:hover {
    color: #9aa897;
    transition: .3s;
}
.header_menu li a {
    transition: .3s;
}

@media only screen and (max-width: 768px) {
    header .container {
        justify-content: center;
    }
    .header_menu li {
    margin: 20px 16px 0;
    }
}

.section1 {
    background-image: url(../images/tara-evans-IcvR0jFbsz0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
    border-radius: 16px;

}

.section1 h1 {
    background-color: #d6d4d4;
    opacity: 0.8;
   font-family: "Roboto Condensed", sans-serif;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #3c3b3b;
    border-radius: 16px;
}
.section1_inner {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 42px 0;
}
.section2 .image1 {
    background-image: url("../images/nynne-schroder-CYwyU7C6BiM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 330px;
    border-radius: 16px;
}
.section2 .image2 {
    background-image: url("../images/rocknwool-wxq9n6SECWc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 330px;
    border-radius: 16px;
    object-fit: fill;
}
.section2 .image3 {
    background-image: url("../images/a-r-0MUqktI9mgg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 330px;
    border-radius: 16px;
}

.small {

    font-size: 23px;
    color: #555;
    margin-top: 8px;
}